 
ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  overflow: hidden;  
   
  position: fixed;
  width: 100em; 
  background-color: rgba(0, 0,255,0); 
  z-index: 30000   
} 



li :not(.cnt){
  float: left;
}

li a:not(.o) {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #111;
  
  
}
li a:hover {
    background-color: gray ; 
}

li a.lnn{
  background-color:white;
  color :black ; 
}
.active {
  
}

img.omar{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  border-radius: 50%;
  float : right ;
}

img.isty{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 80px;
    float : right ;
  
}

img.fso{
    border: 1px solid #ddd;
    padding: 5px;
    width: 80px;
    float : right ;
    height : 50px;
  
}

blink {
    -webkit-animation: 2.5s linear infinite condemned_blink_effect; 
    animation: 1s linear infinite condemned_blink_effect;
    text-align : left ;
  }
  @-webkit-keyframes condemned_blink_effect { 
    0% {
      visibility: hidden;
    }
    70% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    70% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  
  div {
      /*border : 2px solid rgb(0, 255, 34)  ;*/
      
      text-align: center ;
      background-color : rgb(255, 255, 255);
      
    }
    div:hover{
      background-color: rgb(240, 235, 235);
    }

  p{
      float : center ;
  }

  ul.cnt:hover{
    background-color:gray;
  }

  

  li.cnt{
    text-align: center ;
  }

  img.lnkdin, img.l{
    
    height : 60px;
    padding: 50px;
    width: 50px;
  }

  img.ls{
    padding: 5px;
    width: 50px;
    height : 60px;
  }

 
  div#lng{
    overflow: hidden ;
  }

  ul#cnt{
    text-align : center ;
  }
  
div#cnt{
  border : 1px solid white  ;
  text-align: center;
  background-color: rgb(180, 221, 207);
}

table {
  
  display: inline-table;
  overflow: auto;
  border-collapse : separate ; 
  border-spacing : 50px 10px;
}

p {
  font-size : 1.5em; 
  
}

p.bn{
  font-size:  3em;
  font-family : cursive;
}

img.lg{
  
    
    width: 200px;
    
    height : 200px;
    
}
p.m p.ml{
  font-size:  1.2em;
}
img.ml{
  width :60px;
  height : 50px;
}

a.o{
  width :50px;
  height : 18px;
}

h2.positionner{
  padding : 20px 85px 20px 0px;
}

h2.positionnerJ{
  padding : 20px 20px 20px 0px;
}

p.krt{
  padding : 10px 84px 20px 0px;
}
img.lsk{
  padding: 10px 82px 20px 0px;
    width: 35px;
    height : 30px;

}
td{
  overflow: auto;
  }

 
 div.scroll::-webkit-scrollbar {
     width: 12px;
 }
 
 div.scroll::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     border-radius: 10px;
 }
 
 div.scroll::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }
